<!--The content below is only a placeholder and can be replaced.-->
<div class="nav">
	<div class="left-nav">
		<i class="icon fas fa-align-justify"></i>
		<i class="icon2 fas fa-globe-africa"></i>
		<span style="color:white;font-size:23px;padding-bottom:4px;position: absolute;top: 34px;left: 125px;">DIRECT TAX</span>
	</div>
	<div class="right-nav">
		<input class="inp" type="text" placeholder="PLATFORM" />
		<a href="#"><i class="fas fa-search" style="color:white;position: absolute;top: 36px;right: 240px;font-size:20px;"></i></a>
		<i class="fas fa-caret-down" style="position: absolute;top: 37px;right: 335px;"></i>
		<span style="color:white;font-size:20px;padding-bottom:4px;position: absolute;top: 32px;right: 115px;">Rajasekhar</span>
		<img class="ima1" src="assets/images/raj.jpg" />
	</div>
</div>
<div class="sides">
	<div class="left-side">
		<input class="inp1" type="text" placeholder="Search" />
		<hr style="width:210px;position:absolute;left:48px;">
		<ul>
			<li style="margin-top:30px;"><a href="#"><i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Most Used Services</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus"></i></a></li>
			<li><a href="#"><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Home</b></a></li>
			<li><a href="#"><i class="fas fa-address-book"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>About</b></a></li>
			<li><a href="#"><i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Contacts</b></a></li>
			<li><a href="#"><i class="fas fa-images"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Pages</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus"></i></a></li>
			<li><a href="#"><i class="fab fa-usps"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Services</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus"></i></a></li>
			<li style="background-color:blue;color:white;width:210px;height:30px;padding-top:6px;"><a href="#"><i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Master</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus"></i></a></li>
			<div class="sep">
				<li style="padding-top:10px;"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp; Category</a></li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fas fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp; Insurance Area</a></li>
				<li style="text-align:center;"><a href="#">&nbsp;&nbsp;<i class="fas fa-chevron-right"></i>&nbsp; &nbsp; &nbsp; Insurance Risk Category &nbsp;&nbsp; and Data Risk Management</a></li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fas fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp; Principal Insured</a></li>
			</div>
		</ul>
	</div>
	<div class="mids">
	</div>
	<div class="mid">
	</div>
	<div class="right-side">
		<input style="position:absolute;right:760px" class="inp2" type="text" placeholder="SDXAd"/><span style="position:relative;top: -8px;left: 60px;color: #b7bfbd;">Rate Description</span>
		<input style="position:absolute;right:410px" class="inp2" type="date" placeholder="3/8/2019"/><span style="position:relative;top: -8px;left: 300px;color: #b7bfbd;">From Date</span><i style="position:relative;top: 10px;
left: 415px;" class="fas fa-calendar-week"></i>
		<input style="position:absolute;right:40px" class="inp2" type="text" placeholder="3/8/2019"/><span style="position:relative;top: -8px;left: 580px;color: #b7bfbd;">To Date</span><i style="position:relative;top: 10px;
left: 709px;" class="fas fa-calendar-week"></i>
	</div>
	<button class="btn1"><i class="fas fa-save"></i> Save</button>
	<button class="btns"><i class="fas fa-times-circle"></i> Cancel</button>
</div>
<hr style="width:72%;height:0px;background-color:#b3e5e5;margin-top:160px;">
<i style="float:right;color:red;position:absolute;right:80px;top:275px;" class="fas fa-cog"></i><i style="float:right;position:absolute;right:53px;top:275px" class="fas fa-save"></i><i style="float:right;color:green;position:absolute;right:108px;top:275px;" class="fas fa-plus"></i>
<div class="tab">
	<table>
		<tr>
			<th>Rate</th>
			<th>Restriction Based</th> 
			<th>Restriction of GTI</th>
			<th>Rate Description</th>
			<th>Applicable Form</th>
			<th>Applicable To</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>500331</td>
			<td>Ril</td>
			<td>Yes</td>
			<td>50%</td>
			<td>Tue Oct 01 2019 00:00:00 GMT+0530</td>
			<td>Wed Oct 02 2019 00:00:00 GMT+0530</td>
			<td><i style="color:red" class="fas fa-pencil-alt"></i><br><br><i style="color:red" class="far fa-trash-alt"></i></td>
		</tr>
		<tr>
			<td>500332</td>
			<td>Ril</td>
			<td>Yes</td>
			<td>50%</td>
			<td>Thu Oct 11 2020 00:00:00 GMT+0530</td>
			<td>Wed Oct 02 2019 00:00:00 GMT+0530</td>
			<td><i style="color:red" class="fas fa-pencil-alt"></i><br><br><i style="color:red" class="far fa-trash-alt"></i></td>
		</tr>
		<tr>
			<td>500333</td>
			<td>Ril</td>
			<td>Yes</td>
			<td>50%</td>
			<td>Wed Oct 11 2030 00:00:00 GMT+0530</td>
			<td>Wed Oct 02 2019 00:00:00 GMT+0530</td>
			<td><i style="color:red" class="fas fa-pencil-alt"></i><br><br><i style="color:red" class="far fa-trash-alt"></i></td>
		</tr>
		<tr>
			<td>500334</td>
			<td>Ril</td>
			<td>Yes</td>
			<td>50%</td>
			<td>Tue Oct 11 2031 00:00:00 GMT+0530</td>
			<td>Wed Oct 02 2019 00:00:00 GMT+0530</td>
			<td><i style="color:red" class="fas fa-pencil-alt"></i><br><br><i style="color:red" class="far fa-trash-alt"></i></td>
		</tr>
	</table>
</div>
<router-outlet></router-outlet>
